<!DOCTYPE html>



<heml>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        {{>header}}
        <img src="/img/Image05.jpg">
        {{>footer}}
    </body>
</heml>